name: Baremetal_esp32p4_nosdk
on:
  push:
    branches:
      - '**'
  pull_request:

jobs:
  build-arm-none-eabi:
    runs-on: ubuntu-22.04
    steps:
      - uses: actions/checkout@v3

      - name: Install Toolchain
        run: |
          wget -q https://github.com/espressif/crosstool-NG/releases/download/esp-15.2.0_20251204/riscv32-esp-elf-15.2.0_20251204-x86_64-linux-gnu.tar.xz
          tar -xf riscv32-esp-elf-15.2.0_20251204-x86_64-linux-gnu.tar.xz
          # Rename for easier PATH management
          mv riscv32-esp-elf-15.2.0_20251204-x86_64-linux-gnu toolchain

      - name: Build Baremetal
        run: |
          export PATH=$GITHUB_WORKSPACE/toolchain/bin:$PATH
          cd $GITHUB_WORKSPACE/Build
          chmod +x Rebuild.sh
          ./Rebuild.sh all
